@import url(./fonts.css);
@import url(./common.css);

/* HEADER */
.header {
  height: 100dvh;
  width: 100%;
  background: url(../img/header/header.png) no-repeat center center/cover;
  position: relative;
  z-index: 2;
  min-height: 650px;
}

.header__box>.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(80deg, #d52047d1 20%, #ee3e1bc3 80%);
  ;
  top: 0;
  z-index: -1;
}

/* nav */
.nav__burger {
  display: none;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__logo {
  display: flex;
  gap: 7px;
  align-items: center;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  flex-shrink: 0;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav {
  padding-top: 50px;
}

.language__box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__dropdown-item {
  display: flex;
  gap: 6px;
  align-items: center;
  transition: 0.3s;
}

.nav__dropdown-item-li {
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang__eng {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.lang__img {
  width: 32px;

}

.language__box {
  gap: 20px;
}

.nav__dropdown {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
}

.nav__dropdown:hover .nav__dropdown2 {
  opacity: 1;
  z-index: 10;
}

.nav__dropdown2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0;
  border: 1px solid #FAFAFA;
  border-radius: 4%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  background: #e8e6e67d;
}

.nav__dropdown2 .nav__dropdown-item:nth-of-type(1) {
  border-bottom: 1px solid #FAFAFA;
  width: 100%;
}

.nav__dropdown-item {
  padding: 3px;
}

.nav__dropdown-item:hover {
  background: rgb(237, 76, .1);
}

.login__btn {
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  transition: 0.4s;
}

.login__btn:hover {
  color: #000;
  border: 1px solid #000;
  background: linear-gradient(80deg, #d52047d1 20%, #ee3e1bc3 80%);

}

/* nav */
/* header box */
.header__box>.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  /* padding-top: 140px; */
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.header__text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  max-width: 540px;
  width: 100%;
  line-height: 150%;
  text-align: center;
}

.header__link {
  color: #ED4C5C;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #fff;
  padding: 16px 52px;
  transition: 0.4s;
}

.header__link:hover {
  background: #ED4C5C;
  color: #fff;
}

/* header */
/* main */
.budget>.container {
  display: flex;
  gap: 92px;
}

.budget__box {
  padding: 140px 0 110px;
  max-width: 445px;
  width: 100%;
  text-align: justify;
}

.budget__video {
  padding: 92px 0 95px 92px;
  max-width: 478px;
  width: 100%;
}

.budget__text {
  padding: 24px 0 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.budget__link {
  color: #ED4C5C;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}

.budget__link:hover {
  text-decoration: underline;
}

.budget__video {
  position: relative;
  display: flex;
  align-items: center;
}

.play__button {
  position: absolute;
  left: 12%;
  cursor: pointer;
}

/* Features */
.features {
  width: 100%;
  background: #FAFAFA;
}

.features__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__cards-box {
  max-width: 293px;
  width: 100%;
  height: 198px;
  background: #fff;
  margin-top: -100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 20px 25px;
}

.features__box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 63px 0 124px;
  width: 100%;
}

.features__title {
  text-align: center;
  padding-top: 63px;
}

.features__subtitle {
  max-width: 229px;
  width: 100%;
}

.features__txt {
  max-width: 229px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #101010;
  text-align: center;
  padding: 20px 12px 5px;
}

.features__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #ED4C5C;
  text-align: center;
  cursor: pointer;
  padding: 25px 0 15px;
}

.features__link:hover {
  text-decoration: underline;
}

/* Features */

/* Technology */
.technology {
  width: 100%;
}

.technology__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 104px;
}

.technology__cards {
  max-width: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology__card {
  text-align: center;
}

.technology__block {
  position: relative;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}

.number_card {
  max-width: 117px;
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  color: #101010;
  opacity: 8%;
}

.technology__img {
  position: absolute;
  bottom: 10px;
  ;
}

.technology__title {
  text-align: center;
  padding: 63px 0 52px;
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  line-height: 43.2px;
}

.technology__subtitle {
  padding-bottom: 10px;
}

.technology__text {
  max-width: 191px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #000000;
}

/* Technology */

/* stay */
.stay {
  background: #ED4C5C;
  min-height: 500px;
}

.stay__box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 100px;
}

.stay__box-text {
  max-width: 445px;
}

.stay__title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  padding-bottom: 24px;
}

.stay__text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  padding-bottom: 40px;
}

.stay__link {
  max-width: 134px;
  width: 100%;
  display: flex;
  gap: 23px;
  cursor: pointer;
}

.stay__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 533px;
  width: 100%;
  height: 311px;
  position: relative;
}

.stay-img-1 {
  z-index: 100;
}

.slider_first-back {
  position: absolute;
  left: 0;
  opacity: 0.5;
}

.slider_second-back {
  position: absolute;
  right: 0;
  opacity: 0.5;
}

.slider>img {
  opacity: 50%;
}

/* stay */

/* contact */
.contact {
  min-height: 500px;
}

.contact__text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.contact__box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.contact__box2 {
  max-width: 445px;
  width: 100%;
  padding: 117px 0 223px;
}

.contact__box3 {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  margin: 126px 0 69px;
}

.contact__title {
  padding-bottom: 40px;
}

.contact__form {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 20px;
}

.cont {
  width: 100%;
  font-size: 16px;
  padding: 20px 30px;
  color: #13274377;
  border-radius: 6px;
  outline: none;
  border: 1px solid #333333;
}

.contact__form div {
  display: flex;
  gap: 25px;
}

.contact__form-btn {
  max-width: 160px;
  width: 100%;
  padding: 17px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #ED4C5C;
  transition: 0.4s;
  cursor: pointer;
}

.contact__form-btn:hover {
  background: hsl(354, 68%, 43%);
}

input::placeholder {
  color: #333333;
  opacity: 50%;
}

/* footer */
.footer {
  background: #FAFAFA;
  padding-top: 45px;
  min-height: 500px;
}

.footer>.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.footer>.container p {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}

.footer__copy {
  padding-top: 20px;
  flex-wrap: wrap;
  font-size: 12px;

}

.footer>.container a {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  line-height: 160%;
}

.footer>.container a:hover {
  text-decoration: underline;
}

.footer__adress {
  max-width: 259px;
}

.footer__title {
  color: #101010;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 32px;
}

.footer__adress p {
  max-width: 254px;
  line-height: 18px;
  padding-bottom: 140px;
  text-align: justify;
}

.footer__number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__link2 {
  display: flex;
  gap: 10px;
}

/* footer */